# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=wa_assistant

# JWT Secret
JWT_SECRET=ubah_ini_dengan_random_string_panjang

# OpenAI / DeepSeek
OPENAI_API_KEY=sk-isi_api_key_kamu
OPENAI_BASE_URL=https://api.deepseek.com/v1
OPENAI_MODEL=deepseek-v4-pro

# Server
PORT=3030
DB_PATH=./wa-assistant.db
